* {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  font-size: 100%;
  background: #000000;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

label {
  font-size: 25px;
}

p {
  font-size: 25px;
}

.about {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

a, .aboutlinks {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: blue;
  text-decoration: none;
}

.messageheader {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.message {
  border: 1px solid #B0C4DE;
  border-bottom: none;
}

.header {
  width: 50%;
  margin: 50px auto 0px;
  color: black;
  background: white;
  text-align: center;
  padding: 20px;
}

.messagemain {
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 10px;
}

.buttonwrap {
  display: inline;
}

.content {
  width: 50%;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  background: white;
}
.input-group {
  margin: 10px 0px 0px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input, textarea {
  height: 30px;
  width: 93%;
  padding: 5px 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 200px;
  background: grey;
  border: 1px solid black;
  border-radius: 5px;
  display: inline;
}

form {
  display: inline;
}

.error {
  width: 92%; 
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede;
  font-size: 20px; 
  text-align: left;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  font-size: 20px;
}
